/**
 * Overrides for default Bootstrap styles.
 */

:root {
  --link-color: hsl(0, 0%, 20%);
  --link-color-light: hsl(0, 0%, 95%);
  --link-color-light-hover: hsl(0, 0%, 85%);
  --linear-gradient: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.1));
  --page-background: rgb(255, 242, 199);
}

body {
  background: var(--page-background);
}

a {
  color: var(--link-color);
}
