.background {
  height: 100%;
  background: lightgray;
}

.heading {
  color: white;
  min-height: 15rem;
  margin: 1rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* If text wraps on small screen, center-align all lines of text. */
  text-align: center;
}
