.page > article {
  margin-top: 0 !important;
}

.page > header::after {
  display: none;
}

.blockquote {
  min-height: 15rem;
  margin: 1rem 0 2rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.blockquote > h1 {
  margin-top: auto;
}

.blockquote > footer {
  margin-bottom: auto;
  display: flex;
  align-items: center;
  color: var(--link-color-light);
}

.blockquote > footer > a {
  color: inherit;
}

.blockquote > footer > a:hover,
.blockquote > footer > button:hover {
  color: var(--link-color-light-hover);
  text-decoration: none;
}

.shareButton {
  margin-left: auto;
}

.topics :global(.badge) {
  font-size: 0.8rem;
  font-weight: 600;
  color: lightgray;
  padding: .3rem .4rem;
  margin-right: .25rem;
}
