.quote {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  --color: rgba(0, 0, 0, 0.8);
  color: var(--color);
}

.quote blockquote footer {
  color: var(--color);
  display: flex;
  align-items: center;
}

.quote blockquote a {
  color: var(--color);
}

.quote a:hover {
  color: #0056b3;
}

.quote hr {
  border-color: var(--color);
}

.shareButton {
  color: var(--color);
  margin-left: auto;
}

.topics :global(.badge) {
  font-size: 0.78rem;
  font-weight: 600;
  color: lightgray;
  background-color: var(--color);
}
