.quotes {
  display: flex;
  margin-top: .5rem;
  flex-direction: column;
  --item-height: 190px;
}

.quotes > a {
  height: var(--item-height);
  position: relative;
  display: flex;
  padding: 0;
  margin-bottom: .5rem;
  box-shadow:
    0 1px 1px 0 rgba(60, 64, 67, .08),
    0 1px 3px 1px rgba(60,64,67,.16);
  transition: box-shadow 135ms cubic-bezier(.4, 0, .2, 1);
  border-radius: 4px;
  /* Make children obey this element's border-radius. */
  overflow: hidden;
}

.quotes > a:hover {
  box-shadow:
    0 1px 3px 1px rgba(60, 64, 67, .2),
    0 2px 8px 4px rgba(60, 64, 67, .1);
  text-decoration: none;
}

.image {
  width: var(--item-height);
  height: 100%;
}

.text {
  position: relative;
  margin: 0 .25rem 0 1rem;
  flex-grow: 1;
}

/*
 * Use absolutely-positioned container for quote text to prevent extra long
 * quotes from expanding the parent.
 */
.text > span {
  position: absolute;
  overflow: hidden;
  align-items: center;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.share:not(:hover) {
  color: var(--link-color);
}

/* Media query targeting screens smaller than Bootstrap "medium". */
@media (max-width: 768px) {
  .quotes > a,
  .share:not(:hover) {
    color: var(--link-color-light);
  }

  .quotes > a:hover,
  .share:hover {
    color: var(--link-color-light-hover);
  }

  .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  .image::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--linear-gradient);
  }
}
