.heading {
  background-color: #f0f3f7;
  padding: .5rem;
  margin: .5rem 0 0;
}

/* Remove default padding around highlighted search text. */
.hits mark {
  padding: 0;
}

.hits > * {
  border-bottom: 1px solid #dee2e6;
  display: block;
  position: relative;
  padding: .5rem .5rem;
}

.hits a:hover {
  text-decoration: none;
  background-color: #f8f9fa;
}

.hits a:hover mark {
  background-color: inherit;
}

.hits > :last-child {
  border: none;
}
