.topics {
  margin-top: .5rem;
  text-align: center;
}

.topics > a {
  width: 13rem;
  height: 10rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
  filter: brightness(75%);
  margin: .25rem;
  vertical-align: middle;
}

.topics > a:hover {
  filter: initial;
  text-decoration: none;
}

.overlay {
  display: flex;
  align-items: center;
  height: 100%;
}

.topics span {
  line-height: normal;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
}
