.topics {
  text-align: center;
}

.topics > a {
  width: 13rem;
  height: 10rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin: .25rem;
  vertical-align: middle;
  background:
    radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    var(--background);
}

.topics > a:hover {
  filter: initial;
  text-decoration: none;
  background: var(--background);
}

.topics > a:hover span {
  opacity: 0;
}

.overlay {
  display: flex;
  align-items: center;
  height: 100%;
}

.topics span {
  color: var(--link-color-light);
  line-height: normal;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: opacity ease-in-out 100ms;
}
